body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#unityContainer {
  width: 100vw;
  height: 100vh;
  background: #000;
}

#unityCanvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Fondo negro para coincidir con tu app */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Asegura que esté por encima del canvas */
  transition: opacity 0.5s ease-out; /* Efecto desvanecido suave al terminar */
}

/* Texto de carga */
#loading-text {
  margin-top: 80px; /* Equivalente a mt-20 */
  font-size: 20px;
  color: #9d9d9d;
  font-family: sans-serif;
}

/* Tu animación original */
.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image:
    linear-gradient(#FFF 16px, transparent 0),
    linear-gradient(#6aa84f 16px, transparent 0),
    linear-gradient(#6aa84f 16px, transparent 0),
    linear-gradient(#FFF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}